/**************************************** ZAČÁTEK SOUBORU style.css ****************************************/

/*******************************
*
* Projekt: Projekt 2 ITW
* Autor: Tomáš Bártů, xbartu11
* Datom: 2022-04-21
*
********************************/

html {
    scroll-behavior:    smooth;
    scroll-padding-top: 50px;
}

body {
    margin:      0;
    padding:     0;
    font-family: 'Courier New', Courier, monospace;
}

/*******************************/
/*  Zacátek obecného nastavení */
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/


a {
    text-decoration: none;
    transition:      color .3s ease-in-out, box-shadow .3s ease-in-out;
    position:        relative;
    padding:         1em;
}

a:link,
a:visited {
    color: aliceblue;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

ul a::before {
    /* Díky nulovému scalu se čára nezobrazí */
    transform:        scaleX(0);
    content:          '';
    position:         absolute;
    /* Rozměr čáry a barva */
    width:            100%;
    height:           2px;
    border-radius:    2px;
    background-color: aliceblue;

    transition:       transform .2s linear;
    /* Čára bude pozicována vlevo dole */
    left:             0;
    bottom:           0;
}

ul a:hover::before {
    /* Zobrazíme čárů s počátkem animace ve středu */
    transform:        scaleX(1);
    transform-origin: center;
}

i {
    font-size: 40px;
}

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/* Konec obecného nastavení */
/****************************/

/***************************/
/*  Zacátek úvodní stránky */
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

header {
    background-image:      url(./../img/happyStudent.jpg);
    /* pokud se nezobrazí, tak je nastavena defaultní barva */
    background-color:      #c89666;
    /* jednotlivé proporce pozadí (zůstane fixní) */
    background-attachment: fixed;
    background-size:       cover;
    background-position:   center;
    min-height:            400px;
    height:                100vh;
}

#navbar {
    /* přesuneme menu do popředí */
    z-index:    2;
    position:   fixed;
    width:      100%;
    transition: all .2s linear;
}

nav ul {
    /* nebude mezera mezi položkami */
    font-size:   0;

    white-space: nowrap;
    padding:     0;
    max-width:   1200px;
    margin:      auto;
    text-align:  center;
}

nav ul li {
    display:        inline-block;
    border:         1px solid transparent;
    /* musíme znuvu nastavit velikost (velikost bude nastavena podle výšky viewportu) */
    font-size:      2.4vh;
    padding:        1em 0;
    text-transform: uppercase;
    /* mezera mezi písmeny */
    letter-spacing: .05em;
}

#hamburger {
    /* dokud se šířka stránky nebude nacházet pod určitou mezí, tak nechceme zobrazit ikonu menu */
    display:     none;
    position:    absolute;
    /* rozměry, takové aby na různých zařízeních ikona byla čitelná */
    font-size:   2.3vh;
    padding-top: 2vh;

    top:         0;
    right:       0;
}

#hamburger a:hover {
    color: lightblue;
}

#title {
    /* napozicování elementu */
    display:          block;
    position:         relative;
    float:            left;
    top:              66vh;
    padding:          1em 1em 1em 10vh;
    /* font se bude zmenšovat se šířkou stránky */
    font-size:        2vw;
    transition:       ease all .5s;
    background-color: #112D32;
    /* zaoblení po pravé straně */
    border-radius:    0 20px 20px 0;
    font-family:      'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#title a {
    padding: 1em;
}

#title:hover{
    background-color: #2d545e;
}

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/* Konec úvodní stránky */
/************************/


.content {
    /* šířka obsahu bude maximálně 1200px */
    max-width: 1200px;
    margin:    auto;
}

.section {
    padding: 3rem 1rem;
}

.section:not(:last-child) {
    background-color: whitesmoke;
}

.section:nth-child(even) {
    background-color: #9b9b9b;
}

/***************************/
/*   Zacátek sekce about   */
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

#about .content {
    display:             grid;
    align-items:         center;
    grid-template-areas: "img text";
}

#about p {
    grid-area: text;
}

#about #about_img {
    grid-area: img;
}

#about_img img {
    display:       block;
    margin:        auto;
    width:         75%;
    transition:    all .5s ease;
    border-radius: 20px;
}

#about_img img:hover {
    width: 90%;
}

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/*   Konec sekce about  */
/************************/

/***************************/
/* Zacátek sekce education */
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

#education .content {
    display:             grid;
    grid-template-areas: "head head" "text1 img" "text2 text3";
    align-items:         center;
    justify-items:       center;
    column-gap:          1rem;
    row-gap:             1rem;
}

#education h2 {
    grid-area: head;
}

#education #primarySchool {
    grid-area: text1;
}

#education #secondarySchool {
    grid-area: text2;
}

#education #college {
    grid-area: text3;
}

#education img {
    display:    block;
    margin:     auto;
    width:      90%;
    transition: all .5s ease;
}

#education img:hover {
    width: 100%;
}

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/* Konec sekce education */
/*************************/

/************************/
/* Zacátek sekce skills */
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

#skills .content {
    display:             grid;
    grid-template-areas: "head" "text";
    justify-items:       center;
}

/* třísloupcové rozložení */
#languages {
    display:             grid;
    grid-template-areas: "text text text";
    column-gap:          1rem;
}

.lang-item {
    padding-bottom: 1rem;
}

.lang-item i {
    float:         left;
    font-size:     2rem;
    transition:    all .3s linear;
    padding-right: 0.5rem;
}

.lang-item h2 {
    margin-top: 0;
}

progress {
    position: relative;
    width:    300px;
}

progress::after, progress::before {
    /* Pozice a rozměry progress baru */
    content:       "";
    height:        60%;
    position:      absolute;
    border-radius: 10px;
}

/* umístění vnitřního progress baru */
progress::after {
    top:  4px;
    left: 4px;
}

progress::before {
    width:      100%;
    background: #12343b;
    /* Použijeme vycpávku, tak aby se vnější progress bar opticky zvětšil */
    padding:    4px;
    transition: all .2s ease-in-out;
}

progress:hover::before {
    background: steelblue;
}

/***
    Jednotlivé nastavení barev hoverů ikon a progresových jezdců jazyků
    se nachází ve stylovém předpisu languages.css, kvůli lepší přehlednosti.
***/

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/* Konec sekce skills */
/**********************/

/*************************/
/* Zacátek sekce hobbies */
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

#hobbies h2 {
    text-align: center;
}

/* Navigační menu v sekce */
#hobbies ul {
    display:          block;
    font-size:        0;
    padding:          0;
    text-align:       center;
    background-color: black;
    /* -1rem, tak aby se zanedbalo odsazení .content od okraje stránky */
    margin:           auto -1rem;
}

#hobbies ul li {
    padding:   1em;
    font-size: 2.4vh;
    display:   inline-block;
}

#hobbies h3 {
    padding-top: 3rem;
}

/* každá druhá podsekce bude mít jiné pozadím, kvůli lepší vizualizaci */
#hobbies .sub-section:nth-child(even) {
    background-color: #b9b9b9;
    border-radius:    20px;
}

#hobbies .sub-section {
    display:        grid;
    column-gap:     1rem;
    justify-items:  center;
    align-items:    center;
    padding-bottom: 2rem;
}

/* obrázek u každé liché podsekce se bude nacházet napravo a text nalevo */
#hobbies .sub-section:nth-child(odd) {
    grid-template-areas: "head head" "text img";
}

/* obrázek u každé sudé podsekce se bude nacházet nalevo a text napravo */
#hobbies .sub-section:nth-child(even) {
    grid-template-areas: "head head" "img text";
}

#hobbies .sub-section:nth-child(odd) p {
    padding-left: 1rem;
}

#hobbies .sub-section:nth-child(even) p {
    padding-right: 1rem;
}

#hobbies h3 {
    grid-area:  head;
    margin-top: 0;
}

#hobbies p {
    grid-area:  text;
    text-align: justify;
}

#hobbies img {
    grid-area:     img;
    width:         95%;
    border-radius: 20px;
    border:        1px solid black;
    transition:    all .5s ease;
}

#hobbies img:hover {
    width: 100%;
}

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/* Konec sekce hobbies */
/***********************/

/************************/
/* Zacátek sekce films  */
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.film {
    text-align: center;
}

#films .content {
    display:             grid;
    grid-template-areas: "head head" "icon icon";
    justify-items:       center;
    column-gap:          1rem;
    row-gap:             1rem;
}

#films h2 {
    grid-area: head;
}

#films i {
    color: #ffe835;
    grid-area: icon;
}
#film_rating p {
    text-align: justify;
}

table {
    width:           100%;
    border-collapse: collapse;
    text-align:      left;
    vertical-align:  center;
    border:          1px solid black;
    margin-top:      5rem;
    transition: all .3s ease;
}

table thead {
    background-color: #c89666;
    border-bottom: 2px solid black;
}

table tbody tr:nth-child(odd) {
    background-color: #e1b382;
}

table tbody tr:nth-child(odd):hover {
    background-color: #ffca93;
}

table tbody tr:nth-child(even) {
    background-color: #e8cbaa;
}

table tbody tr:nth-child(even):hover {
    background-color: #ffe0ba;
}


table td {
    padding: 0.5rem;
}

table td:last-child {
    text-align: center;
}

table i {
    padding-left: 0.2rem;
    font-size:    15px;
}

.film img {
    display:    block;
    width:      90%;
    height:     auto;
    margin:     auto;
    transition: all .2s ease-in;
}

/* Simulace nadzvednutí plakátu */
.film img:hover {
    width:      91%;
    box-shadow: #bfbfbf 15px 15px 15px;
}

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/* Konec sekce films  */
/**********************/


/***************************/
/* Zacátek sekce contacts  */
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

footer {
    background-color: #e1b382;
    text-align:       center;
}

footer p {
    margin: 0;
}

footer a:hover {
    color: #112D32;
}

footer p i {
    font-size: 14px;
    padding:   1rem;
}

footer .section {
    padding-bottom: 0;
}

#phones {
    width:                 400px;
    margin:                auto;
    padding-bottom:        2rem;
    display:               grid;
    grid-template-columns: 1fr 1fr;
}

footer span i {
    font-size: 1rem;
}

#contact_icons i:not(:last-child) {
    padding-right: 15px;
}

#copyright {
    background-color: #c89666;
    margin:           1rem -1rem 0 -1rem;
}

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/* Konec sekce contacts  */
/*************************/

@media screen and (max-width: 1023px) {
    #hamburger {
        display: block;
        color:   aliceblue;
    }

    #languages {
        grid-template-areas: "text text";
    }

    nav ul {
        padding: 0;
    }

    nav ul li:not(:first-child) {
        display: none;
    }

    html {
        min-width: 340px;
    }

    #films .content {
        grid-template-areas: "head" "icon";
    }
}

/***************************/
/*  Zacátek media queries  */
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

@media screen and (max-height: 800px) {
    nav ul li {
        font-size: 19px;
    }

    #hamburger {
        padding-top:   10px;
        padding-right: 10px;
        font-size:     19px;
    }
}

@media screen and (max-width: 767px) {
    #title {
        font-size: 2vh;
    }
    #about .content {
        grid-template-areas: "img" "text";
    }

    #education .content {
        grid-template-areas: "head" "text1" "text2" "img" "text3";
    }

    #languages {
        grid-template-areas: "text";
    }

    #hobbies .sub-section:nth-child(odd) {
        grid-template-areas: "head" "text" "img";
    }

    #hobbies .sub-section:nth-child(even) {
        grid-template-areas: "head" "text" "img";
    }

    #hobbies ul li {
        display: block;
    }

    #hobbies p {
        padding: 0 1rem;
    }

    #phones {
        max-width: 50vw;
        grid-template-columns: 1fr;
        grid-template-rows:    1fr 1fr;
        row-gap:               1rem;
    }

    footer p {
        padding-bottom: 0.5rem;;
    }
}

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/*  Konec media queries  */
/*************************/

/**************************************** KONEC SOUBORU style.css ****************************************/